<div class="mh2-sheet mh2-item-sheet">

  <header class="mh2-header">
    <img class="mh2-portrait mh2-portrait-sm" data-action="editImage" src="{{item.img}}" alt="{{item.name}}" title="Change icon">
    <div class="mh2-identity">
      <input class="mh2-name" type="text" name="name" value="{{item.name}}" placeholder="Move name">
      <div class="mh2-item-selects">
        <label class="mh2-stat-select">
          <span>Rolls with</span>
          <select name="system.stat">
            {{#each statOptions}}
            <option value="{{this.value}}"{{#if this.selected}} selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </label>
        <label class="mh2-stat-select">
          <span>Bonus</span>
          <input class="mh2-bonus-input" type="number" name="system.bonus" value="{{system.bonus}}" step="1" title="Flat bonus added to this move's roll">
        </label>
        <label class="mh2-stat-select">
          <span>Category</span>
          <select name="system.category">
            {{#each categoryOptions}}
            <option value="{{this.value}}"{{#if this.selected}} selected{{/if}}>{{this.label}}</option>
            {{/each}}
          </select>
        </label>
      </div>
    </div>
  </header>

  <div class="mh2-item-body">
    <prose-mirror name="system.description" value="{{system.description}}" toggled>{{{enrichedDescription}}}</prose-mirror>
  </div>

</div>
